# Dependencies
node_modules/

# Next.js
/.next/
/out/
/build
next-env.d.ts
*.tsbuildinfo

# Vercel
.vercel

# Testing
/coverage

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
